.footer {
    margin-top: 32px;
    position: relative;
    bottom: 0;
    height: 130px;
    width: 100%;
    display: flex;
    border-top: 1px solid white;
    justify-content: space-around;
    align-items: center;
}
