.navbar {
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 16px 0;
    margin-bottom: 16px;
}

.flex {
    display: flex;
    gap: 32px;
    font-weight: 600;
}

.flex:hover {
    cursor: pointer;
}
